.auth {
    height: 100%;
}
.auth___container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.auth__wrapper {
    background-color: $sub-bg-color;
    padding: 50px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}
.auth__heading {
    font-family: $main-font-family;
    color: $main-text-color;
    font-size: 25px;
    margin-bottom: 20px;
}
.auth__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth__input-text {
    font-family: $main-font-family;
    color: $main-text-color;
    margin-top: 10px;
    display: block;
    width: 50%;
    background-color: transparent;
    border: 1px $main-text-color solid;
    padding: 5px;

    transition: width .1s linear;
    &:focus{
        width: 65%;
    }
}
.auth__bottom {

    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.auth__remember-me {
    display: flex;
    align-items: center;
}
.auth__remember-me-text {
    font-family: $main-font-family;
    color: $main-text-color;
    font-size: 11px;
    margin-left: 6px;
}
.auth__check-box {
    appearance: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
    font-weight: 800;
    color: $main-text-color;
    border: 2px solid $main-text-color;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: .1 linear;
    &::after{
        display: none;
        font-family: 'Material Icons';
        content: 'check';
    }
    &:hover{
        background-color: $main-text-color;
        color: $sub-bg-color;
    }
    &:checked::after{
        display: block;
    }
}
.auth__button {
    font-family: $main-font-family;
    color: $main-text-color;
    cursor: pointer;
    @extend %tpl-transparent-button;
}
.auth__register-button{
    margin-top: 20px;
}