body{
    background: $main-bg-color;
    font-family: $main-font-family;
    overflow-y: hidden;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}