.header {
    background-color: #9BA1F2;
    position: relative;
    z-index: 10;
}
.header__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7vh;
}
.logo {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.logo__image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    display: inline-block;
    font-family: $material-font-family;
    background-color: $main-text-color;
    color: $sub-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__text {
    padding-left: 5px;
}
.logo__top-text {
    font-family: $headings-font-family;
    font-weight: 400;
    color: $sub-text-color;
    text-transform: uppercase;
    font-size: 10px;
}
.logo__main-text {
    font-family: $headings-font-family;
    font-weight: 700;
    color: $main-text-color;
    text-transform: uppercase;
}

.header__sign-buttons {
    display: flex;
    & .sign-button:first-child{
        margin: 0;
    }
}
.sign-button {
    @extend %tpl-transparent-button;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-button__image {
    font-family: $material-font-family;
    font-size: 18px;
}