%tpl-transparent-button{
    @include transparent-button-color-settings($sub-bg-color, $main-text-color);
    padding: 10px 25px;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}