.text-write {
    height: 100%;
}
.text-write-body {
    display: flex;
    flex-direction: column;
}
.text-write__text-box {
    background-color: transparent;
    margin: 20px;
    padding: 5px;
    border-bottom: 2px $sub-bg-color solid;
    overflow: hidden;

    font-family: $main-font-family;
    color: $main-text-color;
}
.text-write__actual-string {
    font-family: $main-font-family;
    color: $main-text-color;
    margin: 0 45px;
    overflow: hidden;
    text-align: center;
    user-select: none;
}
.text-write__cpm-text {
    font-family: $main-font-family;
    color: $sub-text-color;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    padding-bottom: 5px;
}
.text-write__timer-text {
    font-family: $main-font-family;
    color: $sub-text-color;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    border-bottom: 2px $sub-bg-color solid;
    border-top: 2px $sub-bg-color solid;
    user-select: none;
}
.text-write__timer-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-bottom: 200px;
}
.text-write__info {
    font-family: $main-font-family;
    color: $main-text-color;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}
.text-write__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .text-write__button:first-child{
        margin-top: 0;
    }
}
.text-write__button {
    @extend %tpl-transparent-button;
    margin-top: 10px;
    cursor: pointer;

    &:hover{
        color: $main-bg-color;
    }
}