$main-bg-color: #e1e2ef;
$sub-bg-color: #9BA1F2;
$dark-sub-bg-color: #494C73;
$main-text-color: #333;
$sub-text-color: #808080;
$main-font-family: 'Roboto', sans-serif;
$headings-font-family: 'Vollkorn', serif;
$material-font-family: 'Material Icons';