@{
    var strTitle = "Ошибка 404";
    ViewBag.Title = strTitle;
}

<div class="error__block">
    <div class="error__content">
        Упс! Страница, к которой вы пытались обратиться не существует или недоступна.
    </div>
</div>