@{
    var strTitle = "Ошибка 500";
    ViewBag.Title = strTitle;
}

<div class="error__block">
    <div class="error__content">
        Упс! На сервере произошла ошибка. Просим прощения за неудобства.
    </div>
</div>