@model Text
@{
    var strTitle = "Добавление текста";
    ViewBag.Title = strTitle;
}

<div class="text-edit">
    <div class="container">
        <div class="text-edit__body">
            <div class="text-edit__wrapper">
                <form asp-area="Admin"
                      asp-controller="TextEdit"
                      asp-action="Add"
                      method="post"
                      enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <h2 class="text-edit__heading">
                        @strTitle
                    </h2>
                    <div asp-validation-summary="All"></div>
                    <input asp-for="Title" value="@Model.Title" placeholder="Название текста"
                           class="text-edit__edit-title-input">
                    <div class="text-edit__text-wrapper">
                        <textarea asp-for="TextContent" placeholder="Содержание" class="text-edit__textarea" id="text-edit__textarea">
                        </textarea>
                    </div>
                    <div class="text-edit__text-wrapper">
                        <div class="text-edit__character-edit-wrapper" id="text-edit__character-edit-wrapper">

                        </div>
                        <div class="text-edit__character-edit-buttons">
                            <div class="text-selection__button admin-panel__text-edit-button" id="add-text-to-change-btn">
                                Добавить текст для изменения
                            </div>
                            <div class="text-selection__button admin-panel__text-edit-button" id="change-text-btn">
                                Изменить
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="admin-panel__button text-edit__save-changes-button">
                        Сохранить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/JS/text-edit.js"></script>
<script src="~/JS/replace-characters.js"></script>