@model IQueryable<Text>
@{
    var strTitle = "Панель администратора";
    ViewBag.Title = strTitle;
}

<div class="admin-panel">
    <div class="container">
        <h2 class="admin-panel__heading">
            Панель администратора
        </h2>
        <div class="admin-panel__buttons">
            <div class="admin-panel__button" id="admin-panel__texts-edit-button" onclick="adminPanelButtonClicked()">
                Тексты
            </div>
            <div class="admin-panel__button" id="admin-panel__users-button" onclick="adminPanelButtonClicked()">
                Пользователи
            </div>
        </div>

        <div class="text-selection admin-panel__text-selection" id="admin-panel__text-selection">
            <div class="text-selection__body">
                <div class="text-selection__wrapper">
                    <div class="text-selection__header">
                        <a
                            asp-area="Admin"
                            asp-controller="TextEdit"
                            asp-action="Add"
                            class="admin-panel__button">
                            Добавить текст
                        </a>
                    </div>
                    @if (Model.Any())
                    {
                        <div class="text-selection__main">
                            @foreach (var text in Model)
                            {
                                <div class="text-selection__item">
                                    <h4 class="text-selection__item-text-name">
                                        @text.Title
                                    </h4>
                                    <p class="text-selection__content">
                                        @text.TextContent
                                    </p>
                                    <a
                                        class="text-selection__button admin-panel__text-edit-button"
                                        asp-area="Admin"
                                        asp-controller="TextEdit"
                                        asp-action="Edit"
                                        asp-route-textName="@text.Title">
                                        Редактировать
                                    </a>
                                    <a
                                        class="text-selection__button admin-panel__text-edit-button"
                                        asp-area="Admin"
                                        asp-controller="TextEdit"
                                        asp-action="Delete"
                                        asp-route-textName="@text.Title">
                                        Удалить
                                    </a>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        
        <div class="admin-panel__users" id="admin-panel__users">
            <div class="admin-panel__user">
                <div class="user__info-block">
                    <div class="user__info-type">
                        Имя пользователя:
                    </div>
                </div>
                <div class="user__info-block">
                    <div class="user__info-type">
                        Хэш пароля:
                    </div>
                    <div class="user__text">
                    </div>
                </div>

                <div class="user__info-block">
                    <div class="user__info-type">
                        Почта:
                    </div>
                    <div class="user__text">
                    </div>
                </div>

                <div class="user__info-block">
                    <div class="user__info-type">
                        Роль:
                    </div>
                    <div class="user__text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/JS/admin-panel.js"></script>