@model Text

<div style="display: none;" id="text-write__text-title">@Model.Title</div>
<form
asp-controller="Home"
asp-action="TextWriteResult"
method="post"
asp-route-textTitle="1"
asp-route-countOfErrors="1"
asp-route-countOfCorrects="1"
asp-route-textUrl="1"
id="text-write__resultForm"
></form>
<div class="text-write">
    <div class="container">
        <div class="text-write-body">
            <input type="text" class="text-write__text-box" id="text-input-field">
            <div class="text-write__actual-string" id="actual-correct-string-textbox">@Model.TextContent</div>
        </div>
        <div class="text-write__timer-info-wrapper" id="text-write__timer-info-wrapper">
            <div class="text-write__timer-text" id="text-write__timer-text">
                0:00.00
            </div>
        </div>
    </div>
</div>
<script src="~/JS/text-write.js"></script>
<script src="~/JS/timer.js"></script>