@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("../fonts/icofont/icofont.min.css");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  background: #e1e2ef;
  font-family: "Roboto", sans-serif;
  overflow-y: hidden; }

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.error-message {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: 700; }

.sign-button, .text-selection__button, .text-write__button, .auth__button, .admin-panel__button, .personal-account__block-footer-button, .personal-account__small-button {
  color: #333;
  border-color: #333;
  background-color: transparent;
  user-select: none;
  transition: color .1s linear, background-color .1s linear;
  padding: 10px 25px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px; }
  .sign-button:hover, .text-selection__button:hover, .text-write__button:hover, .auth__button:hover, .admin-panel__button:hover, .personal-account__block-footer-button:hover, .personal-account__small-button:hover {
    background-color: #333;
    color: #9BA1F2; }

.header {
  background-color: #9BA1F2; }

.header__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh; }

.logo {
  display: flex;
  align-items: center;
  padding: 10px 0; }

.logo__image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  display: inline-block;
  font-family: "Material Icons";
  background-color: #333;
  color: #9BA1F2;
  display: flex;
  justify-content: center;
  align-items: center; }

.logo__text {
  padding-left: 5px; }

.logo__top-text {
  font-family: "Vollkorn", serif;
  font-weight: 400;
  color: #808080;
  text-transform: uppercase;
  font-size: 10px; }

.logo__main-text {
  font-family: "Vollkorn", serif;
  font-weight: 700;
  color: #333;
  text-transform: uppercase; }

.header__sign-buttons {
  display: flex; }
  .header__sign-buttons .sign-button:first-child {
    margin: 0; }

.sign-button {
  margin-left: 10px; }

.text-selection {
  margin: 50px 0; }

.text-selection__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  min-height: 50vh; }

.text-selection__wrapper {
  width: 100%;
  max-width: 800px; }

.text-selection__header {
  display: flex;
  justify-content: center; }

.text-selection__heading {
  font-family: "Vollkorn", serif;
  color: #333;
  font-weight: 700;
  font-size: 35px; }

.text-selection__main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px; }

.text-selection__item {
  background-color: #9BA1F2;
  flex: 1 1 calc(33.33% - 30px);
  padding: 30px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: break-word; }

.text-selection__item-text-name {
  font-family: "Vollkorn", serif;
  color: #333;
  font-weight: 700;
  font-size: 20px;
  text-align: center; }

.text-selection__button {
  margin-top: 20px; }

.text-selection__content {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 14px;
  margin-top: 5px;
  text-align: center; }

.text-write {
  height: 100%; }

.text-write-body {
  display: flex;
  flex-direction: column; }

.text-write__text-box {
  background-color: transparent;
  margin: 20px;
  padding: 5px;
  border-bottom: 2px #9BA1F2 solid;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  color: #333; }

.text-write__actual-string {
  font-family: "Roboto", sans-serif;
  color: #333;
  margin: 0 45px;
  overflow: hidden;
  text-align: center;
  user-select: none; }

.text-write__cpm-text {
  font-family: "Roboto", sans-serif;
  color: #808080;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  padding-bottom: 5px; }

.text-write__timer-text {
  font-family: "Roboto", sans-serif;
  color: #808080;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  border-bottom: 2px #9BA1F2 solid;
  border-top: 2px #9BA1F2 solid;
  user-select: none; }

.text-write__timer-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding-bottom: 200px; }

.text-write__info {
  font-family: "Roboto", sans-serif;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px; }

.text-write__buttons {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .text-write__buttons .text-write__button:first-child {
    margin-top: 0; }

.text-write__button {
  margin-top: 10px;
  cursor: pointer; }
  .text-write__button:hover {
    color: #e1e2ef; }

.auth {
  height: 100%; }

.auth___container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.auth__wrapper {
  background-color: #9BA1F2;
  padding: 50px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px; }

.auth__heading {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 25px;
  margin-bottom: 10px; }

.auth__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.auth__input-text {
  font-family: "Roboto", sans-serif;
  color: #333;
  margin-top: 10px;
  display: block;
  width: 50%;
  background-color: transparent;
  border: 1px #333 solid;
  padding: 5px;
  transition: width .1s linear; }
  .auth__input-text:focus {
    width: 65%; }

.auth__bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%; }

.auth__remember-me {
  display: flex;
  align-items: center; }

.auth__remember-me-text {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 11px;
  margin-left: 6px; }

.auth__check-box {
  appearance: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
  font-weight: 800;
  color: #333;
  border: 2px solid #333;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1 linear; }
  .auth__check-box::after {
    display: none;
    font-family: 'Material Icons';
    content: 'check'; }
  .auth__check-box:hover {
    background-color: #333;
    color: #9BA1F2; }
  .auth__check-box:checked::after {
    display: block; }

.auth__button {
  font-family: "Roboto", sans-serif;
  color: #333;
  cursor: pointer; }

.auth__register-button {
  margin-top: 20px; }

.admin-panel {
  text-align: center;
  padding: 40px; }

.admin-panel__heading {
  font-family: "Vollkorn", serif;
  color: #333;
  font-size: 30px;
  font-weight: 700; }

.admin-panel__text-selection {
  margin: 20px 0; }

.admin-panel__text-edit-button {
  font-size: 10px;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer; }

.admin-panel__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-bottom: #333 1px solid;
  padding-bottom: 15px; }
  .admin-panel__buttons .admin-panel__button:first-child {
    margin-left: 0; }

.admin-panel__button {
  cursor: pointer;
  color: #333;
  border-color: #333;
  background-color: transparent;
  user-select: none;
  transition: color .1s linear, background-color .1s linear;
  margin-left: 10px; }
  .admin-panel__button:hover {
    background-color: #333;
    color: #e1e2ef; }

.admin-panel__button-active {
  background-color: #333;
  color: #e1e2ef; }

.admin-panel__users {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 15px; }

.admin-panel__user {
  background-color: #9BA1F2;
  flex: 1 1 calc(25% - 45px);
  padding: 30px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .admin-panel__user .user__info-block:first-child {
    margin-top: 0; }

.user__info-block {
  margin-top: 15px; }

.user__info-type {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-weight: 700;
  font-size: 18px; }

.user__info-content {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 16px; }

.user__text {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 18px; }

.text-edit {
  height: 100%; }

.text-edit__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

.text-edit__wrapper {
  width: 100%;
  max-width: 800px;
  height: 100%; }

.text-edit__heading {
  font-family: "Vollkorn", serif;
  color: #333;
  font-weight: 700;
  font-size: 30px;
  margin-top: 30px; }

.text-edit__text-wrapper {
  margin-top: 30px;
  width: 100%;
  background-color: #9BA1F2;
  border-radius: 3px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  color: #333; }

.text-edit__textarea {
  font-family: "Roboto", sans-serif;
  color: #333;
  resize: none;
  outline: none;
  height: 100px;
  width: 100%;
  overflow-y: hidden;
  background-color: transparent;
  line-height: 15px;
  font-size: 14px; }

.text-edit__edit-title-input {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: transparent;
  border-bottom: 1px #333 solid;
  text-align: center;
  font-size: 18px;
  padding: 0 15px; }
  .text-edit__edit-title-input:focus {
    text-align: left; }

.text-edit__save-changes-button {
  margin: 30px 0; }

.text-edit__character-edit {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: transparent;
  border-bottom: 1px #333 solid;
  text-align: center;
  padding: 0 5px;
  font-size: 14px;
  min-width: 25px;
  display: inline-block; }

.text-edit__character-edit-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px; }

.text-edit__character-edit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .text-edit__character-edit-wrapper .text-edit__character-edit-block:first-child {
    margin-top: 0; }

.text-edit__character-edit-arrow {
  font-family: "Material Icons";
  color: #333;
  font-size: 15px;
  padding: 0 10px; }

.text-edit__character-edit-buttons {
  display: flex;
  flex-direction: column;
  align-items: center; }

.error__block {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.error__content {
  color: #333;
  font-family: "Vollkorn", serif;
  width: 100%;
  max-width: 50vw;
  text-align: center;
  font-size: 30px;
  padding-bottom: 100px; }

.personal-account {
  height: 100%;
  width: 100%; }

.personal-account__block {
  margin-top: 30px; }

.personal-account__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%; }

.personal-account__body {
  background-color: #9BA1F2;
  border-radius: 3px;
  padding: 20px;
  width: 75%;
  margin: 50px 0; }

.personal-account__header {
  border-bottom: #333 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px; }

.personal-account__header-element {
  font-family: "Vollkorn", serif;
  color: #333;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  padding: 5px 0;
  opacity: .3;
  transition: all .1s linear;
  align-self: flex-end;
  cursor: pointer;
  user-select: none; }
  .personal-account__header-element:hover {
    opacity: .8; }

.personal-account__header-element-active {
  font-weight: 700;
  font-size: 32px;
  opacity: 1;
  align-self: center; }
  .personal-account__header-element-active:hover {
    opacity: 1; }

.personal-account__main-info-block {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 15px; }

.personal-account__main-info-block-title {
  font-family: "Vollkorn", serif;
  color: #333;
  font-size: 16px;
  display: inline-block; }

.personal-account__main-info-block-content {
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: transparent;
  border-bottom: 1px #333 solid;
  text-align: left;
  width: 100%;
  font-size: 16px;
  display: inline-block; }

.personal-account__block-footer-buttons {
  display: flex;
  align-items: center;
  flex-direction: column; }

.personal-account__block-footer-button {
  margin-top: 20px; }

.personal-account__progress-blcok .personal-account__text-statistics:first-child {
  border-top: 1px #333 solid; }

.personal-account__text-statistics {
  display: flex;
  justify-content: start;
  border-bottom: 1px #333 solid;
  padding: 10px 20px; }

.personal-account__text-name {
  font-family: "Vollkorn", serif;
  color: #333;
  font-size: 20px; }

.personal-account__name-block {
  width: 30%;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }

.personal-accout__statistics-items {
  align-self: center;
  display: flex;
  flex-direction: column; }
  .personal-accout__statistics-items .personal-accout__statistics-item:first-child {
    margin-top: 0; }

.personal-accout__statistics-item {
  font-family: "Roboto", sans-serif;
  color: #333;
  margin-top: 10px; }

.personal-account__small-button {
  font-size: 10px;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer; }

.main {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 100%; }

.footer {
  min-height: 15vh;
  background-color: #494C73; }

.footer__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }

.footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; }

.footer__top-part {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center; }

.footer__center-all-rights {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%; }
  .footer__center-all-rights::before {
    margin: 10px 0;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #333; }

.footer__links {
  display: flex;
  justify-content: center;
  margin-top: 2px; }
  .footer__links .footer__link:first-child {
    margin-left: 0; }

.footer__link {
  font-family: icofont,AdobeInvisFont,MyriadPro-Regular;
  color: #333;
  border-color: #333;
  background-color: transparent;
  user-select: none;
  transition: color .1s linear, background-color .1s linear;
  border-radius: 50%;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  margin-left: 10px;
  font-size: 10px; }
  .footer__link:hover {
    background-color: #333;
    color: #494C73; }

.footer__contact-block {
  display: flex;
  flex-direction: column;
  justify-content: end; }

.footer__contact-text {
  font-family: "Vollkorn", serif;
  font-weight: 700;
  color: #333;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center; }

.footer__logo-img {
  color: #494C73; }
