<!DOCTYPE html>
<html lang="ru">
<head>
    @await Html.PartialAsync("MetaTagsPartial")
    @await Html.PartialAsync("cssPartial")
</head>
<body>
    <div class="wrapper">
        <script src="~/JS/jQuery.js"></script>
        @await Html.PartialAsync("HeaderPartial")
        <main class="main">
            @RenderBody()
        </main>
        @await Html.PartialAsync("FooterPartial")
    </div>
</body>
</html>