
<div class="admin-panel">
    <div class="container">
        <h2 class="admin-panel__heading">
            Панель администратора
        </h2>
        <div class="admin-panel__buttons">
            <div class="admin-panel__button" id="admin-panel__texts-edit-button" onclick="adminPanelButtonClicked()">
                Тексты
            </div>
            <div class="admin-panel__button" id="admin-panel__users-button" onclick="adminPanelButtonClicked()">
                Пользователи
            </div>
        </div>

        <div class="text-selection admin-panel__text-selection" id="admin-panel__text-selection">
            <div class="text-selection__body">
                <div class="text-selection__wrapper">
                    <div class="text-selection__header">
                        <a href="#" class="admin-panel__button">
                            Добавить текст
                        </a>
                    </div>
                    <div class="text-selection__main">

                        <div class="text-selection__item">
                            <h4 class="text-selection__item-text-name">
                                Ipsum Lorem
                            </h4>
                            <p class="text-selection__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab perferendis quos qui sunt animi veniam omnis esse tempora dolorum non nisi, voluptate rerum voluptates quisquam architecto accusantium! Iusto qui ducimus, excepturi repellendus culpa eligendi numquam? Quos sequi ut provident natus, eos deleniti, rem officia amet aperiam voluptatem qui architecto pariatur.
                            </p>
                            <a href="#" class="text-selection__button admin-panel__text-edit-button">
                                Редактировать
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="admin-panel__users" id="admin-panel__users">
            <div class="admin-panel__user">
                <div class="user__info-block">
                    <div class="user__info-type">
                        Имя пользователя:
                    </div>
                    <div class="user__text">
                        someUser
                    </div>
                </div>

                <div class="user__info-block">
                    <div class="user__info-type">
                        Пароль:
                    </div>
                    <div class="user__text">
                        somePassword
                    </div>
                </div>

                <div class="user__info-block">
                    <div class="user__info-type">
                        Почта:
                    </div>
                    <div class="user__text">
                        some@email.com
                    </div>
                </div>

                <div class="user__info-block">
                    <div class="user__info-type">
                        Роль:
                    </div>
                    <div class="user__text">
                        someRole
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/JS/admin-panel.js"></script>