@using SpeedTypingASP.Service
<meta charset="UTF-8">
<link rel="icon" type="image/png" href="~/images/favicon.png" />
@if (ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>@Config.ProjectName</title>
}
@if (ViewBag.Description != null)
{
    <meta name="description" content="@ViewBag.Description"/>
}
@if (ViewBag.Keywords != null)
{
    <meta name="keywords" content="@ViewBag.Keywords"/>
}