@using SpeedTypingASP.Service
<meta charset="UTF-8">
@if (ViewBag.Tittle != null)
{
    <title>@ViewBag.Tittle</title>
}
else
{
    <title>@Config.ProjectName</title>
}
@if (ViewBag.Description != null)
{
    <meta name="description" content="@ViewBag.Description"/>
}
@if (ViewBag.Keywords != null)
{
    <meta name="keywords" content="@ViewBag.Keywords"/>
}