<div class="personal-account">
    <div class="container">
        <div class="personal-account__content-wrapper">
            <div class="personal-account__body">
                <div class="personal-account__header">
                    <div class="personal-account__header-element"
                         id="personal-account__profile-button"
                         onclick="personalAccButtonClicked()">
                        Профиль
                    </div>
                    <div class="personal-account__header-element"
                         id="personal-account__progress-button"
                         onclick="personalAccButtonClicked()">
                        Прогресс
                    </div>
                    <div class="personal-account__header-element"
                         id="personal-account__personalization-button"
                         onclick="personalAccButtonClicked()">
                        Персонализация
                    </div>
                </div>
                <div class="personal-account__main">
                    <div class="personal-account__profile-blcok personal-account__block"
                         id="personal-account__profile-blcok">
                        <div class="personal-account__main-info-block">
                            <div class="personal-account__main-info-block-title">
                                Логин:
                            </div>
                            <input type="text" class="personal-account__main-info-block-content">
                            </input>
                        </div>
                        <div class="personal-account__main-info-block">
                            <div class="personal-account__main-info-block-title">
                                Почта:
                            </div>
                            <input type="text" class="personal-account__main-info-block-content">
                            </input>
                        </div>
                        <div class="personal-account__block-footer">
                            <div class="personal-account__block-footer-buttons">
                                <a href="#" class="personal-account__block-footer-button">
                                    Редактировать
                                </a>
                            </div>
                            <!--<div class="personal-account__block-footer-buttons">
                                <a href="#" class="personal-account__block-footer-button">
                                    Сохранить изменения
                                </a>
                            </div>-->
                        </div>
                    </div>
                    <div class="personal-account__progress-blcok personal-account__block"
                         id="personal-account__progress-blcok">
                        <div class="personal-account__text-statistics">
                            <div class="personal-account__text-name">
                                Lorem, ipsum.
                            </div>
                            <div class="personal-accout__statistics-items">
                                <div class="personal-accout__statistics-item">
                                    Лучшее CPM: 250
                                </div>
                                <div class="personal-accout__statistics-item">
                                    Лучшее время: 5:10.34
                                </div>
                                <div class="personal-accout__statistics-item">
                                    Лучшее количество ошибок: 0
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="personal-account__personalization-blcok"
                         id="personal-account__personalization-blcok">
                        Блок персонализации
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/JS/personal-account.js"></script>