<div class="auth">
    <div class="container">
        <div class="auth___container">
            <div class="auth__wrapper">
                <h2 class="auth__heading">Регистрация</h2>
                <form method="POST" class="auth__form">
                    <input type="text" class="auth__input-text" placeholder="Логин">
                    <input type="text" class="auth__input-text" placeholder="Почта">
                    <input type="password" class="auth__input-text" placeholder="Пароль">
                    <input type="password" class="auth__input-text" placeholder="Подтвердите пароль">

                    <input type="submit" class="auth__button auth__register-button" value="Зарегистрироваться">
                </form>
            </div>
        </div>
    </div>
</div>