<div class="text-edit">
    <div class="container">
        <div class="text-edit__body">
            <div class="text-edit__wrapper">
                <h2 class="text-edit__heading">
                    Редактирование текста
                </h2>
                <input type="text" value="Lorem Ipsum"
                       class="text-edit__edit-title-input">
                <div placeholder="Text" class="text-edit__text-wrapper">
                    <textarea placeholder="Text" class="text-edit__textarea" id="text-edit__textarea">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eum doloribus, perferendis quae voluptatibus, delectus impedit, nam eaque voluptate vero neque. Quas, similique. Ipsa consequuntur commodi ipsam nostrum laborum maiores voluptates neque cumque porro, illo quae enim debitis, blanditiis quisquam cupiditate eos illum reprehenderit inventore! Itaque, nam debitis. Vitae, quidem!</textarea>
                </div>
                <a href="#" class="admin-panel__button text-edit__save-changes-button">
                    Сохранить
                </a>
            </div>
        </div>
    </div>
</div>
<script src="~/JS/text-edit.js"></script>