<div class="text-write">
    <div class="container">
        <div class="text-write-body">
            <input type="text" class="text-write__text-box" id="text-input-field">
            <div class="text-write__actual-string" id="actual-correct-string-textbox">
                here should be text
            </div>
        </div>
    </div>
</div>